<div class="profiles">
<h1> Meet your Fellow Giraffes! </h1>

<div class = 'row'>
<% @giraffes.each do |giraffe| %>
  <div class="col-xs-6 col-sm-4 allGiraffes ">
    <div class="thumb" style="background-image: url(<%= cl_image_path(giraffe.image, :width=> 200, :height=>200, :gravity => "auto") if giraffe.image.present? %>); background-color: rgba(254, 195, 25, 0.5); background-size: cover; ">
      <%= link_to giraffe.first_name, giraffe_path(giraffe), :class => "name_link"  %>
    </div>
  </div>
  <!-- <div class="col-md-3 "> -->

  <!-- </div> -->
<%end %>
</div>
</div>
<!-- </div>
  <% @giraffes.each do |n| %>
    <a href="/giraffes/<%= n['id'] %>">
      <img src = "<%= n["image"] %>">
      <p><%= n['first_name'] %></p>
    </a>
  <% end %>
</div> -->
